html, body {
    margin: 0;
}

.content-container {
    background-color: #444444;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navbar li {
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 22px;
}